# Ignore node_modules for all subfolders
**/node_modules/

# Ignore all .env and .env.* files in all subfolders
**/.env
**/.env.*

# Ignore package-lock.json in all subfolders
**/package-lock.json

# Optional: Mac/Linux/Windows system files
.DS_Store
Thumbs.db
